/* AboutUs */

.about-us {
    .about-us-banner {
        width: 100%;
        height: 100px;
        background-color: rgb(244, 248, 251);
    }
}

.portfolio--item {
    &-icon {
        position: relative;
        color: gray;
        transition: color 1s;
        font-size: 1.5rem;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background-color: #f5476a;
            border-radius: 50%;
            transition: all .5s;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
        }
    }
    &:hover {
        .portfolio--item-icon {
            color: #fff;
        }
        .portfolio--item-icon::after {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
    }
    .bg-light {
        z-index: -2 !important;
    }
}


/* AboutUs */


/* Contact */

.contact-icon {
    background-color: #f5476a;
}

.link a {
    text-decoration: none;
    font-size: .8rem;
    color: gray;
}

#form {
    button {
        display: block;
        border: 2px solid #f5476a;
        background: #f5476a;
        font-weight: bold;
        color: #fff;
        letter-spacing: 3px;
        transition: all .5s;
        &:hover {
            background: transparent;
            color: #f5476a;
        }
        &#name {
            position: relative;
            &::before {
                content: "\f007";
                color: gray;
                background-color: transparent;
                top: 3px;
                left: 3px;
            }
        }
    }
}

.social>div {
    position: relative;
    a {
        color: #f5476a;
        transition: all .5s;
        &:hover {
            color: #fff;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            border-radius: 5px;
            background-color: #f5476a;
            transition: all .3s;
            z-index: -1;
        }
        &:hover:before {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .social>div a {
        color: #fff;
        &:hover {
            color: #f5476a;
        }
        &::before {
            width: 100%;
        }
        &:hover:before {
            width: 0%;
        }
    }
}

.input-icons {
    position: relative;
    i {
        position: absolute;
        min-width: 40px;
        top: 6px;
        left: 0px;
        color: gray;
        padding: 12px;
    }
    .input-field {
        padding-left: 35px !important;
    }
}


/* Contact */